<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ReklamTack.nu | Direktreklam på dina villkor</title>
    @Styles.Render("~/Content/css")
    <link href="~/App/css/angularjsStyle.css" rel="stylesheet" />
    <link href="~/App/css/printStyle.css" rel="stylesheet" media="print" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div ng-cloak ng-controller="userInfo" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ReklamTack.nu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div ng-cloak class="navbar-collapse collapse">
                <div>
                    <div class="navbar-text">
                        <div ng-cloak ng-show="displayLogOut">
                            <div>
                                <span><a style="cursor: pointer; color: orange; margin-right: .5em;" ng-click="changePass()">Byt lösenord</a></span>
                                <span ng-show="currentRole == 'User'"><a style="cursor: pointer; color: orange; margin-right: .5em;" ng-href="#!/User">Din Reklam</a></span>
                                <span class="rt-deviceShow-inline" ng-show="currentRole == 'Admin'"><a style="cursor: pointer; color: orange; margin-right: .5em;" ng-href="#!/Admin">Användarlista</a></span>
                                <span class="rt-deviceShow-inline" ng-show="currentRole == 'Admin'"><a style="cursor: pointer; color: orange; margin-right: .5em;" ng-href="#!/AdminCreate">Skapa Kategorier & Reklamblad</a></span>

                                <span class="rt-deviceHidden-inline" ng-show="currentRole == 'Admin'"><a style="cursor: pointer; color: orange; margin-right: .5em;" ng-href="#!/Admin"><span class="glyphicon glyphicon-list"></span></a></span>
                                <span class="rt-deviceHidden-inline" ng-show="currentRole == 'Admin'"><a style="cursor: pointer; color: orange; margin-right: .5em;" ng-href="#!/AdminCreate"><span class="glyphicon glyphicon-edit"></span></a></span>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-text pull-right">
                        <div ng-cloak style="color: orange; font-size: 12pt;">
                            <span style="margin-right: .5em;">{{cUser}} <span ng-if="cUser" class="glyphicon glyphicon-user"></span></span>
                            <a ng-click="logOut()" ng-show="displayLogOut" class="btn btn-sm rt-btnLogOut">
                                <span class="glyphicon glyphicon-log-out"></span> Logga ut
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-cloak ng-show="displayLogOut && currentRole == 'User' && confirm == 'False'" class="text-center" style="color: white; padding: 1em;">
            <div>
                Din epost är inte bekräftad ännu. <a ng-click="newConfirmMail()" style="color: orange; cursor: pointer;">Skicka ett nytt bekräftnings epost.</a>
            </div>
        </div>

        <div id="sendConfirmModal" class="rt-modal">
            <div class="rt-modal-content">
                <div class="rt-modal-header clearfix">
                    <span>Bekräfta epost</span>
                    <span class="rt-xModal"><a ng-click="exitModal()">&times;</a></span>
                </div>
                <div class="rt-modal-body">
                    <p>Du har nu fått ett epost meddelande skickat till dig. Genom att trycka på länken i epost meddelandet bekräftar du din epost.</p>
                    <p>Vid nästa inloggning kommer inte meddelandet på sidan att synas om du bekräftat din epost.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - RekalmTack.nu i samarbete med <span>
                    <img class="rt-footerLogoImg" src="https://www.sdr.se/images/main-logo.png" />
                </span>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/ocLazyLoad.min.js"></script>

    @if (Context.IsDebuggingEnabled)
    {
        <script src="~/sadhjgHFDXhghIYFVUrfgtjhpoPOIHUONerfgobui/app.js"></script>
        <script src="~/sadhjgHFDXhghIYFVUrfgtjhpoPOIHUONerfgobui/accountController.js"></script>
        <script src="~/sadhjgHFDXhghIYFVUrfgtjhpoPOIHUONerfgobui/commonServices.js"></script>
        <script src="~/sadhjgHFDXhghIYFVUrfgtjhpoPOIHUONerfgobui/startController.js"></script>
        <script src="~/sadhjgHFDXhghIYFVUrfgtjhpoPOIHUONerfgobui/userAccount.js"></script>

        if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <script src="~/sadhjgHFDXhghIYFVUrfgtjhpoPOIHUONerfgobui/uwefvyACodfiusge.js"></script>
        }
        if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {
            <script src="~/sadhjgHFDXhghIYFVUrfgtjhpoPOIHUONerfgobui/dfgsihsdfUCaergdstd.js"></script>
        }
    }
    else
    {
        <script src="~/App/js/app.js"></script>
        <script src="~/App/js/accountController.js"></script>
        <script src="~/App/js/commonServices.js"></script>
        <script src="~/App/js/startController.js"></script>
        <script src="~/App/js/userAccount.js"></script>

        if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <script src="~/App/js/uwefvyACodfiusge.js"></script>
        }
        if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {
            <script src="~/App/js/dfgsihsdfUCaergdstd.js"></script>
        }
    }

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
